.all{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px auto;
  height: 50%;
  grid-gap: 25px 0;
}

main{
  margin: 0 15px 10px 15px;

  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 2fr 1fr;
  grid-gap: 15px;
  
  max-height: 500px;
}

.header-bar {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.timer{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.garden{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.basket{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.card{
  background-color: #f8f1e9;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main>.basket{
  max-height: 100px;
}

@media only screen and (max-width: 600px) {
  .card {
    
  }

  main{
    margin: 0 15px 10px 15px;
  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-gap: 15px;
    
    max-height: none;
  }

  .timer{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .garden{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  .basket{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  


}